a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

#menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

#main_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
}

main {
  display: flex;
  justify-content: center;
}

#main_clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lifeMax {
  border: black 3px solid;
  width: 400px;
  height: 20px;
}

.life {
  height:100%;
  width: 100%;
  background: greenyellow;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  color: white;
  background: black;
  padding: 15px;
}
#footer_copyright {
  display: flex;
  align-items: center;
}
#footer_copyright p span {
  opacity: 50%;
}