a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  
  body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
  code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
  }
  
  #main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
  }
  
  main {
    display: flex;
    justify-content: center;
  }
  
  #main_clicker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Ne touche surtout pas au dessus sinon tu es mort jordan tu dois écrire en dessous*/

  .inValidForm {
    opacity: 50%;
  }